[package]
name = "lila-tablebase"
version = "0.3.0"
publish = false
description = "A Syzygy tablebase server"
homepage = "https://tablebase.lichess.ovh"
repository = "https://github.com/niklasf/lila-tablebase"
readme = "README.md"
license = "AGPL-3.0+"
authors = ["Niklas Fiekas <niklas.fiekas@backscattering.de>"]
categories = ["games"]
keywords = ["chess", "syzygy", "tablebase"]
edition = "2018"

[dependencies]
warp = { version = "0.3", default-features = false }
tokio = { version = "1", features = ["full"] }
serde = { version = "1", features = ["derive"] }
clap = "3.0.0-beta.5"
shakmaty = "0.20"
shakmaty-syzygy = { version = "0.18", features = ["variant"] }
gaviota-sys = "0.1"
arrayvec = { version = "0.7", features = ["serde"] }
log = "0.4"
env_logger = "0.9"
serde_with = "1"
