[package]
name = "lila-tablebase"
version = "0.2.0"
publish = false
description = "A Syzygy tablebase server"
homepage = "https://tablebase.lichess.ovh"
repository = "https://github.com/niklasf/lila-tablebase"
readme = "README.md"
license = "AGPL-3.0+"
authors = ["Niklas Fiekas <niklas.fiekas@backscattering.de>"]
categories = ["games"]
keywords = ["chess", "syzygy", "tablebase"]
edition = "2018"

[dependencies]
tide = "0.5"
serde = { version = "1.0", features = ["derive"] }
structopt = "0.3"
shakmaty = "0.16"
shakmaty-syzygy = "0.13"
gaviota-sys = "0.1"
arrayvec = { version = "0.5", features = ["serde"] }
log = "0.4"
env_logger = "0.7"
async-std = { version = "1.3", features = ["attributes"] }
