[package]
name = "lila-tablebase"
version = "1.0.0"
publish = false
description = "A Syzygy tablebase server"
homepage = "https://tablebase.lichess.ovh"
repository = "https://github.com/lichess-org/lila-tablebase"
readme = "README.md"
license = "AGPL-3.0+"
authors = ["Niklas Fiekas <niklas.fiekas@backscattering.de>"]
categories = ["games"]
keywords = ["chess", "syzygy", "tablebase"]
edition = "2021"

[dependencies]
axum = "0.5"
tokio = { version = "1", features = ["full"] }
serde = { version = "1", features = ["derive"] }
clap = { version = "3", features = ["derive"] }
shakmaty = "0.21"
shakmaty-syzygy = { version = "0.19", features = ["variant"] }
gaviota-sys = "0.1"
arrayvec = { version = "0.7", features = ["serde"] }
log = "0.4"
env_logger = "0.9"
serde_with = "1"
